<footer class="bg-dark text-center text-white">

  <div class="container p-4 pb-0">

    <section class="">
      <form action="">

        <div class="row d-flex justify-content-center">

          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our daily updates</strong>
            </p>
          </div>


 
          <div class="col-md-5 col-12">

            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example2" class="form-control" />

            </div>
          </div>
 
          <div class="col-auto">

            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>

        </div>

      </form>
    </section>
   
  </div>
  


  <div class="container p-2 pb-0">

    <section class="mb-4">
     
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/asinghkeeprocking/" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      
      <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/home?lang=en" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

     
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:aditya21official@gmail.com" role="button"
        ><i class="fab fa-google"></i
      ></a>

      
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

     
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/aditya-singh-93a9ba19a/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

     
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/adiii21" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    
  </div>
  




  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="/index">aashroy.com</a>
  </div>
  <!-- Copyright -->
</footer>


</main>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- fontawesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</body>

</html>