<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AASHROY</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">    


    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
          <div class="container-xl">
            <a class="navbar-brand" style="color: #0a7753;" href="/index">AASHROY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ms-auto mb-2 mb-md-0 ">
                <li class="nav-item">
                  <a class="nav-link " aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
</header>

<main>


    <div class="container-fluid pt-4">
        <h1>About Aashroy</h1><hr>
    </div>

    <p class="p-5 lead text-left">Aashroy is working for the benefit of the homeless and deprived sections of the society, 
      especially poor people of the Society. We take up and execute projects to promote welfare of the 
      community they work with. They work to address various concerns and issues prevailing within the society.
       NGOs are not-for-profit bodies which means they do not have any commercial interest. To alleviate their 
       suffering and bring dignity to these people 
      we are bringing up a concept name Aashroy which will provide shelter,food, medical care clothing and all 
      the necessities for obtaining a comfortable life.This organizations fight for uplifting women, children,
      and every other person who is suffering in any form. Moreover, the main motive of these associations is to
      establish a flourishing society with no odds and uncertainties and when their times of downhearted, 
      they get back their smile and cherry moments back. We as a team will consist of people with different motives for working. The most important are desire to achieve
      a social mission; professional self-realization, eg acquisition of new skills, knowledge and experience; and the desire to work in a team in a pleasant environment.
     </p>
     <div class="text-black" style="padding: 0px 15%; font-family: 'Open Sans', sans-serif;">
      <p class="px-2" style="background-color: rgba(3, 134, 9, 0.37) ; "><b> Our team recognize that all people are born free and equal in dignity and we are sensitive to the moral values, religion, customs, 
        traditions, and culture of the communities they serve. And we respect the integrity of families and support family-based life and also respect religious freedom.</b> </p>
     </div>
      

      



    <hr>

    <div class="row featurette">
        <div class="col-md-8 text-left  pl-5">
          <h2><b> We Organise Health Camps</b><span class="text-muted"> in Remote places </span></h2>
          <p>In addition to taking care of the physical health by having Doctors, Nurses, and Ayas to support thousands of human beings
            within our premises, we also take care of mental health needs such as counselling, outdoor activities, keeping the environment
            clean with greenery and so on thereby resulting in upbeat perspective of life for everyone.
            
            A Free medical Camp can be considered as a life-saving program that aims to provide free medical and 
            surgical services to poor communities living in rural or urban areas by a mobile team with varieties of medical specialized services. 
            <div style="line-height: 2;">
              -Provide free and high-quality medical services and full body complete medical checkup for the poor population. <br>
            
              -Working as an emergency team in disasters. <br>
              
              -Raise health awareness among the community and teach them to deal with communicable and no communicable. <br>
              
              -Register rare and severe cases and refer them to specialized centers. <br>
              
              -Evaluate the living conditions and determine the obstacles and challenges to work on solving their problems.</p>
            </div>

           

        </div>
        <div class="col-md-4 " style="justify-content: center; display: flex;  padding: 0px 0px;">
          <img src="images/about.jpg" class="img-thumbnail" alt="">
        </div>
      </div>

      <hr>

    
    

<%- include("partials/footer"); -%>
