<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AASHROY</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap" rel="stylesheet">    



    <link rel="stylesheet" href="/css/styles.css">

    <style>
        .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

    </style>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
          <div class="container-xl">
            <a class="navbar-brand" style="color: #0a7753;" href="/index">AASHROY</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ms-auto mb-2 mb-md-0 ">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/index">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Contact</a>
                </li>                
                <li class="nav-item ml-4">
                  <a class="btn btn-success nav-link text-dark text-active" href="/donation">Donate Now</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
</header>

<main>




<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img  src="images/banner.jpg" class="img-fluid2" alt="First slide">

        <img  src="images/ngo2.jpg" class="img-fluid" alt="First slide">


        <div class="container">
          <div class="carousel-caption text-start">
            <h1><b> BE A REAL LIFE <span class="text-success"> HERO.</span></b></h1>
            <p>Aashroy working for the benefit of the homeless and deprived sections of the society, especially for people who needs it.</p>
            <p><a class="btn btn-lg " style="background-color: #169b6f;" href="/home">Find someone to help</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="images/banner2.jpg" class="img-fluid2" alt="Second slide">

        <img src="images/slide2.jpg" class="img-fluid" alt="...">

        <div class="container">
          <div class="carousel-caption">
            <h1 class="shadow"><b>View the people <span class="text-success">around you.</span> </b> </h1>
            <p>We will come to you and rescue you viewing your live location on map.</p>
            <p><a class="btn btn-lg"  style="background-color: #169b6f;" href="/map">View on map</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img  src="images/banner3.jpg" class="img-fluid2" alt="Third slide">

        <img  src="images/slide3.jpg" class="img-fluid" alt="...">

        <div class="container">
          <div class="carousel-caption text-end">
            <h1><b class="shadow ">One more for <span class="text-success"> good measure.</span></b> </h1>
            <p>We care for everyone equally. We care for you.</p>
            <p><a class="btn btn-lg " style="background-color: #169b6f; " href="/compose">Register Now</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>







    <!-- Features -->

<section class="white-section" id="features">

<div class="container-fluid">

<div class="row">
<div class="feature-box col-lg-4">
<i class="icon fas fa-handshake fa-4x"></i>
<h3 class="feature-title">Trustworthy Organisation </h3>
<p>A reliable organisation who care for you</p>
</div>

<div class="feature-box col-lg-4">
<i class="icon far fa-clock fa-4x"></i>
<h3 class="feature-title">24X7 Help Available</h3>
<p>Our organisation are always available for you</p>
</div>

<div class="feature-box col-lg-4">
<i class="icon fas fa-heart fa-4x"></i>
<h3 class="feature-title">We Care</h3>
<p>Care maintain quality and care for everyone equally</p>
</div> 

</div>  
</div>  
</section>


<hr class="featurette-divider">



<!-- Dashboard -->


<section class="dashboard">

  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <h2><b>Dashboard</b> </h2>
      </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3 text-left">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold ">Register Who Needs it</h1>
        <p class="col-md-10fs-4">Register to know our up-to-date activities and services and further programs. Register to enable greater protection for the public. Members of the public can have confidence in knowing that a professional's standing and qualifications have been independently verified.</p>
        <p><a class="btn btn-outline-success btn-lg" href="/compose">Register Now</a></p>

      </div>
    </div>


    <div class="row align-items-md-stretch rounded-3  py-5">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-danger rounded-3">
          <h2>Report a crime</h2>
          <p>Suffering a crime like human trafficking,child labour, molestation, drug abuse or any illegal activites register here to bring a change in your society.We care for you</p>
          <p><a class="btn btn-outline-light btn-lg" href="/crime">Report Now</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-warning text-white border rounded-3">
          <h2>Donate Something</h2>
          <p>A small donation has a big impact, because actions speak louder than words. Donate today! An effort made for the happiness of others lifes us above ourselves. Be a part of the breakthrough and a change in the World. Lend a helping hand!</p>
          <p><a class="btn btn-success btn-lg" href="/donation">Donate Now</a></p>
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>View on Map</h2>
          <p>Set your live location or the location of remote area for the emergence. We, our team, will reach the destination for the rescue. You can set locations for urgent scarcity and criminal offenses as well</p>
          <p><a class="btn btn-outline-light btn-lg" href="/map">Open Map</a></p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Help peoples near you</h2>
          <p>Here, are the list of people who needs immediate help and your support. Connect with them and help them now because we can only take this to the end and make our country free.</p>
          <p><a class="btn btn-outline-success btn-lg" href="/home">Help Someone</a></p>
        </div>
      </div>
    </div>

    

</section>



    <!-- START THE FEATURETTES -->

    
  <section class="first-heading">
    <hr class="featurette-divider">
    <div class="row pl-2 featurette text-left">
      <div class="col-md-7">
        <h2 class="featurette-heading">Help the Homeless. <span class="text-muted">Look around you will find.</span></h2>
        <p class="lead  ">Homelessness is a major issue in India. The Universal Declaration of Human Rights defines 'homeless' as those who do not live in a regular residence due to lack of adequate housing, safety, and availability. The Census of India 2011 defines 'houseless household' as, 'households who do not live in buildings or census houses but live in the open on roadside, pavements, in hume pipes, under flyovers and staircases, or in the open in places of worship, mandaps, railway platforms, etc.'.</p>
        <p>
          <div class="text-center mb-2">
            <button class="btn btn-outline-dark btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Report on homeless
            </button>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              There are 1.77 million homeless people in India, or 0.15% of the country's total population, according to 
              the 2011 census consisting of single men, women, mothers, the elderly, and the disabled.A family of four members has an average of five homeless generations in India.
            </div>
          </div>

        </p>
      </div>
      <div class="col-md-5">
        <img src="images/shelter.jpg" class="img-thumbnail" alt="">
      </div>
    </div>
  </section>

  <section class="second-heading">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">The old age facility <span class="text-muted">Retirement home.</span></h2>
        <p class="lead">India has been classified as an ‘ageing country’ by the United Nations. The senior citizens, 
          referred to as elders, face certain problems as a consequence of the social transformation. 
          This is reflected in the transition from the traditional ways of life to modern patterns,
           which require many compromises and adjustments. One of these involve old age homes (OAHs).</p>
     
        <div class="text-center mb-2">
          <button class="btn btn-outline-dark btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Report on OAH's
          </button>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            8.6% of the total population over 60 years of age. This number is expected to triple by 2050, 
            thereby constituting 20% of the population. The study looked at both old age homes and senior living developments in India, built an extensive 
            sample set of 480+ old age homes and 60+ senior living developments in 84 cities, towns and 
            districts cutting across geographies, size, cost, facilities offered, ownership and management.
          </div>
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="images/doorkeepers-74NIQklajkw-unsplash.jpg" class="img-thumbnail" alt="">

      </div>
    </div>
  </section>


  <section class="third-heading">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Say no to Child Labour. <span class="text-muted">It is a social evil.</span></h2>
        <p class="lead">Child labour is not only a social problem but also an econom. Watching a young child work throughout a day is termed as child labour, so dont watch silently this young generation who are needed to be educated first. Report if you find any in the bad situation we will educate them.  </p>
        <div class="text-center mb-2">
          <button class="btn btn-outline-dark btn-lg" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Report on Child Laboour
          </button>
        </div>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
             
            It is estimated that India has the largest number of child labourers in the world.
             According to the Census 2001, there were 1.27 cr. economically active children in the age-group of 
             5-14 years. The number was 1.13 cr. during 2021 (Population Census).  

          </div>
        </div>
      </div>
      <div class="col-md-5">
        <img src="images/edmund-lou-dcPThE8G59E-unsplash.jpg" class="img-thumbnail" alt="">
      </div>
    </div>
  </section>

  <hr>


  <section class="p-5 text-white text-left">

    <div class="row rounded-3">
      <div class="col-sm-6">
        <div class="card bg-danger">
          <div class="card-body">
            <h4 class="card-title">Our crime history</h4>
            <p class="card-text">Reports of crime on certain locations by the peoples. <br> Note: This is a anonymous repoty portal so anyone can report without disclosure of their names. </p>
            <div class="text-center"> 
              <a href="/crimehistory" class="btn btn-outline-light btn-lg">View crime history</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card bg-warning">
          <div class="card-body">
            <h4 class="card-title">Our donation list</h4>
            <p class="card-text">Here is the donation list of peoples who donated for the different NGO's and for the people who needs it. Be a part of making the better society and donate now, so we can share your effort.</p>
            <div class="text-center ">
              <a href="/donatehistory" class="btn btn-outline-light btn-lg">View donation List</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>







   <section class="cards">
    <div class="container px-4 py-5 " id="custom-cards">
      <h2 class="pb-2 border-bottom"><b> Our Gallery</b></h2>
  
      <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
        <div class="col card-hover">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('images/card1.jpg');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Feeding the poor, once a week</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>Dibrugarh</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>3d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col card-hover">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('images/card2.jfif');">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-7 lh-1 fw-bold">Health campaing across remote places, every month </h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>Jorhat</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>4d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
  
        <div class="col card-hover">
          <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('images/card3.jfif');">
            <div class="d-flex flex-column h-100 p-5 pb-3 content text-shadow-1">
              <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Every Year new Old age home facilities.</h2>
              <ul class="d-flex list-unstyled mt-auto">
                <li class="me-auto">
                </li>
                <li class="d-flex align-items-center me-3">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                  <small>Guwahati</small>
                </li>
                <li class="d-flex align-items-center">
                  <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                  <small>5d</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
   </section> 

   




    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <%- include("partials/footer"); -%>
