
<%- include("partials/header"); -%>


<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Resgistration Complete</h1>
      <p class=" fs-4">Well done! You have successfully registered youself, we will reach to you soon.</p>
    </div>
  </div>

  <a class="btn btn-success" href="/home" role="button">View registered list</a><br>
  <a class="btn btn-success mt-3" href="/index" role="button">Return home</a>


  <%- include("partials/footer"); -%>
