
<%- include("partials/header"); -%>


<div class="p-5 mb-4 bg-light rounded-3 ">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Thanks for Reporting!!</h1>
      <p class=" fs-4 pl-5">You have reported crime sucessfully, .</p>
    </div>
  </div>

  <a class="btn btn-danger" href="/crimehistory" role="button">View crime history</a><br>
  <a class="btn btn-success mt-4" href="/index" role="button">Return Home</a>


  <%- include("partials/footer"); -%>
