
<%- include("partials/header"); -%>


<div class="p-5 mb-4 bg-light rounded-3 ">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Thank you for your donation</h1>
      <p class=" fs-4 pl-5"> We will be there to recieve item within 24 hours.</p>
    </div>
  </div>

  <a class="btn btn-warning" href="/donatehistory" role="button">View Donation history</a><br>
  <a class="btn btn-success mt-4" href="/index" role="button">Return Home</a>


  <%- include("partials/footer"); -%>
